span {
    font-size: 1.5rem;
}

.gameScreen-container {
    display: flex;
    flex-direction: column;
}

.gameScreen-container button {
    align-self: center;
    margin-top: 2rem;
}

.gameScreen-container h1 {
    justify-content: center;
}