#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .register-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
  
  .title {
    margin: unset;
    justify-content: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }